<h1>Angular testing</h1>
<nav>
  <button class="btn btn-success" routerLink="/ekgallery">ekgallery</button>
  <button class="btn" routerLink="/amgallery">angular-modal-gallery</button>
  <button class="btn" routerLink="/dragula">dragula-test</button>
  <button class="btn" routerLink="/customers">Customers</button>
  <button class="btn" routerLink="/orders">Orders</button>
  <button class="btn" routerLink="">Home</button>
</nav>
<div><app-product-list></app-product-list></div>
<div><router-outlet></router-outlet></div>
