<app-product-list *ngIf="!isFullScreen"></app-product-list>
<div *ngIf="!images.length">
  Wybierz produkt
</div>
<div *ngIf="images.length">
  <div *ngIf="!isFullScreen">
    <img 
      *ngFor="let img of images" 
      src="{{img.modal.img}}" 
      style="width: 100px;" 
      (click)="onImageClick(img)"
    />
  </div>
  <div>
    <img 
      id="imgWindow"
      *ngIf="chosenImage"
      src="{{chosenImage.modal.img}}" 
      (click)="imgFullScreen()"
      style="width: 30%;"
    />
  </div>
</div>